*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #e3e2dd;
}
.regi{
    margin-top:20px;
    border: 1px solid red!important;
    background-color: lightblue;
}
.carousel-item {
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.con{
    width:90%;
    margin:auto;
    
}
.col-md-4 a{
    text-decoration: none;
    font-weight:400;
}
.col-md-4 a:hover{
    font-weight: 600;
}
.tread{
    
    width:90%;
    padding-bottom:20px;
    background:  #f4f4f4;;
    border-radius:15px;
  
}
.lin a{
    text-decoration: none;
    color: black;
}
.card img:hover{
    opacity:0.7;
}
.card-title a{
    text-decoration: none;
    color: black;
}
.item{
    width:90%;
    margin:0 auto;
    margin-top:40px;
    margin-bottom: 20px;
    
   
   
}
.search{
    border:1px solid #e3e2dd;
    border-radius: .6rem;
    text-align: center;
    height: 1.5rem;
}
.footer{
    background:#AE9D92;
}
.nav{
    background: #FFFF;
}
.lo-button {
    background: #897062;
    border: none;
    border-radius: .4rem;
    padding: .5rem;
    
}
.lo-button:hover{
    background:#4c3f31 ;
}
.lo-button a{
    color: #FFFF;
}
.lo-out{
    background: #AE9D92;
    border: none;
    border-radius: .4rem;
    padding: .5rem;
}
.lo-out:hover{
    background:#4c3f31 ;

}
.lo-out a{
    color: #FFFF;
}
.text p{
    color: black;
}
.icon{
    width:20%;
    margin: auto;
    
}
.item .side{
    width:35%;
}
.thirf{
    width:80%;
    margin:0 auto;
    margin-top:70px;
    background-color:darkgray;
} 
.thirf button{
    background: #746557;
}
.thirf-one{
    background: #AE9D92;
}

.thirf-two{
    background: #897062;
}
.thirf-three{
    background: #4c3f31;
}
.thirf .pic{
    width:40%;
    height: 20%;
    clip-path: polygon(50% 0%,0% 100%,100% 100%);
    position: relative;
    top: -30px;
    left:-40px;
    
}
.thirf .text{
    width:60%;
    padding:10px 15px;
    margin-top: 30px;
}
.thirf .text a{
   text-decoration: none;
   color:black;
}
.thirf .text button{
    padding:5px 0;
    width:150px;
    border: none;
    border-radius: 5px;
    transition:width 1s;
}
.thirf .text button:hover{
    width:170px;
    background-color:rgb(194, 187, 177);
}
.verification{
    width:25%;
    padding:30px;
    margin: auto;
    margin-top: 150px;
}
.verification .button{
    margin-top: 10px;
}

@media screen and (max-width:720px){
    .item .side{
        width:100%;
    }
    .thirf .pic{
        position:relative;
        top:150px;
        left: 0;
    }
    .verification{
        width:100%;
        padding:20px;
        margin-top: 100px;
    }
}